<h3>All profiles:</h3>

<div class="container">
  <div class="row">
    <% @profiles.each do |profile| %>
      <div>
        <p>DJ: <%=profile.dj_name%> - <%=profile.bio%> </p>
        <%= link_to "More Info", profile_path(profile)  , :class => "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>



