<h3>All profiles:</h3>
  </div>
  <% @profiles.each do |r| %>
  <div class="container">
  <div class="row">
  <div class="col-sm-6 col-lg-3 ">
  <p>DJ: <%=r.dj_name%> - <%=r.bio%></p>


  </div>
  </div>
  </div>
  <% end %>
