/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.newsletter-form {
  padding: 80px 0;
  text-align: center;
}

.background-grey {
  background-color: #333333;
  border-top: 1px solid #333333;
  color: white;
}

.padding-images {

  padding-bottom: 10px;
  padding-top: 10px;

}
