/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.newsletter-form {
  padding: 80px 0;
  text-align: center;
}

.background-grey {
  background-color: #525252;
  border-top: 1px solid #eee;
  color: white;
  padding-bottom: 22px;
}

